<form action="/posts" method="GET">
    <fieldset>
        <legend>Search</legend>
        <label for="search">Search</label>
        <input type="text" name="search" id="search" placeholder="search" value="<%= query.search%>" autofocus>
    </fieldset>
    <fieldset>
        <div>
            <label for="location">Location</label>
            <input type="text" name="location" id="location" value="<%= query.location%>"
                placeholder="Address or City code">
            <small><a href="#" id="find-location">Use my location</a></small>
            <p id="status"></p>
        </div>
        <legend>Distance(miles)</legend>
        <div>
            <input type="radio" name="distance" id="distance25" value="25" <%= query.distance==='25' ? 'checked':''%>>
            <label for="distance25">25</label>
        </div>
        <div>
            <input type="radio" name="distance" id="distance50" value="50" <%= query.distance==='50' ? 'checked':''%>>
            <label for="distance50">50</label>
        </div>
        <div>
            <input type="radio" name="distance" id="distance100" value="100"
                <%= query.distance==='100' ? 'checked':''%>>
            <label for="distance100">100</label>
        </div>
        <a href="#" id="clear-distance">Clear</a>
    </fieldset>
    <fieldset>
        <legend>Price</legend>
        <label for="min">Min value</label>
        <input type="number" name="price[min]" id="min" min="0" max="11500" step="10" placeholder="Min"
            value="<%=query.price ? query.price.min : ''%>">

        <label for=""></label>
        <input type="number" name="price[max]" id="max" min="0" max="11500" step="10" placeholder="Max"
            value="<%= query.price? query.price.max:''%>">
    </fieldset>
    <fieldset>
        <legend>Rating</legend>
        <input type="checkbox" id="zero-stars" value="0" name="avgRating[]"
            <%= query.avgRating && query.avgRating.includes('0')?'checked': ''%>>
        <label for="zero-stars">Zero stars</label>

        <input type="checkbox" id="one-star" value="1" name="avgRating[]"
            <%= query.avgRating && query.avgRating.includes('1')?'checked': ''%>>
        <label for="one-star">one star</label>

        <input type="checkbox" id="two-stars" value="2" name="avgRating[]"
            <%= query.avgRating && query.avgRating.includes('2')?'checked': ''%>>
        <label for="two-stars">two stars</label>

        <input type="checkbox" id="three-stars" value="3" name="avgRating[]"
            <%= query.avgRating && query.avgRating.includes('3')?'checked': ''%>>
        <label for="three-stars">three stars</label>

        <input type="checkbox" id="four-stars" value="4" name="avgRating[]"
            <%= query.avgRating && query.avgRating.includes('4')?'checked': ''%>>
        <label for="four-stars">four stars</label>

        <input type="checkbox" id="five-stars" value="5" name="avgRating[]"
            <%= query.avgRating && query.avgRating.includes('5')?'checked': ''%>>
        <label for="five-stars">five stars</label>
    </fieldset>
    <div>
        <a href="/post">Clear Search</a>
    </div>
    <input type="submit" value="Search">
</form>
<script src="/javascripts/usemylocation"></script>
