<div class="container">
    <legend class="text-primary">Search for Surf Shops</legend>
    <form action="/posts" method="GET">
        <div class="form-row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="search">Search</label>
                    <input type="text" class="form-control" name="search" id="search" placeholder="Anything you want search"
                        value="<%= query.search%>" autofocus>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text" name="location" class="form-control" id="location" value="<%= query.location%>"
                        placeholder="Address or City code">
                    <small><a href="#" id="find-location">Use my location</a></small>
                    <p id="status"></p>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-3">
                <legend>Distance</legend>
                <div class="">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="distance" id="distance25" value="25"
                            <%= query.distance==='25' ? 'checked':''%>>
                        <label class="form-check-label" for="distance25">25</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="distance" id="distance50" value="50"
                            <%= query.distance==='50' ? 'checked':''%>>
                        <label class="form-check-label" for="distance50">50</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="distance" id="distance100" value="100"
                            <%= query.distance==='100' ? 'checked':''%>>
                        <label class="form-check-label" for="distance100">100</label>
                    </div>
                    <small class="form-text text-muted">
                        <a href="#" id="clear-distance">Clear</a>
                    </small>
                </div>

            </div>
            <div class="col-3">
                <legend>Price</legend>
                <div class="form-group">
                    <label for="min">Min value</label>
                    <input class="form-control" type="number" name="price[min]" id="min" min="0" max="11500" step="10"
                        placeholder="0" value="<%=query.price ? query.price.min : ''%>">

                    <label for="">Max Value</label>
                    <input class="form-control" type="number" name="price[max]" id="max" min="0" max="11500" step="10"
                        placeholder="10000" value="<%= query.price? query.price.max:''%>">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <div class="row">
                        <legend>Rating</legend>
                        <div class="col-sm-10">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="zero-stars" value="0"
                                    name="avgRating[]"
                                    <%= query.avgRating && query.avgRating.includes('0')?'checked': ''%>>
                                <label class="form-check-label" for="zero-stars">Zero stars</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="one-star" value="1"
                                    name="avgRating[]"
                                    <%= query.avgRating && query.avgRating.includes('1')?'checked': ''%>>
                                <label class="form-check-label" for="one-star">One star</label>

                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="two-stars" value="2"
                                    name="avgRating[]"
                                    <%= query.avgRating && query.avgRating.includes('2')?'checked': ''%>>
                                <label class="form-check-label" for="two-stars">Two stars</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="three-stars" value="3"
                                    name="avgRating[]"
                                    <%= query.avgRating && query.avgRating.includes('3')?'checked': ''%>>
                                <label class="form-check-label" for="three-stars">Three stars</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="four-stars" value="4"
                                    name="avgRating[]"
                                    <%= query.avgRating && query.avgRating.includes('4')?'checked': ''%>>
                                <label class="form-check-label" for="four-stars">Four stars</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="five-stars" value="5"
                                    name="avgRating[]"
                                    <%= query.avgRating && query.avgRating.includes('5')?'checked': ''%>>
                                <label class="form-check-label" for="five-stars">Five stars</label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary mb-2" value="Search">
                <small class="form-text text-muted">
                    <a href="/post">Clear Search</a>
                </small>
            </div>
        </div>

</div>
</form>
</div>
<hr>
<script src="/javascripts/usemylocation"></script>
