
<% layout('layouts/index-boilerplate') -%>
<div class="container">
<div class="container-fluid" id="map">
</div>
<hr>
<div class="containter-fluid">
    <%include ../partials/search-filter %>
</div>

</div>
<div class="container">
    <%include ../partials/paginate-post %>
    <% posts.docs.forEach(function(post) {%>
    <div>
        <h1><%= post.title %></h1>
        <p>$<%= post.price %></p>
        <div>
            <%= post.description %>
        </div>
        <div>
            Location: <strong>
                <%= post.location %>
            </strong>
        </div>
        <a href="/posts/<%=post.id%>">Show more...</a>
    </div>

    <%});%>
    <%include ../partials/paginate-post %>
    <hr>
</div>

<script>
        mapboxgl.accessToken = "<%= mapboxToken %>";
        var posts = {features: <%- JSON.stringify(posts.docs) %>};
    </script>
    <script src="/javascripts/allPostsClusterMap.js"></script>
