<% layout('layouts/boilerplate') -%>
<h1 style="display:inline" >posts index </h1> 
<a href="/posts/new">New post</a>
<% posts.forEach(function(post) {%>
<div>
    <h1><%= post.title %></h1>
    <p><%= post.price %></p>
    <div>
        <%= post.description %>
    </div>
    <div>
        <%= post.location %>
    </div>
    <a href="/posts/<%=post.id%>/edit">Edit post</a>
</div>

<%});%>


