<h1><%= post.title %></h1>
<p><%= post.price %></p>
<div>
    <%= post.description %>
</div>
<div>
    <%= post.location %>
</div>
<% post.images.forEach(function(image){%>
<div>
    <img src="<%= image.url%>" alt="image" width="200px">
</div>
<%});%>
<a href="/posts">Back to Posts</a>
<form action="/posts/<%= post.id%>?_method=DELETE" method="POST">
    <button type="submit">Delete post</button>
</form>
